.splash {
  width: 100vw;
  height: 100vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.topFade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;

  background: linear-gradient(#000, rgba(#000, 0%));
}

.bottomFade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;

  background: linear-gradient(rgba(#000, 0%), #000);
}
