.globalNavigation {
  width: 100vw;
  height: 56px;
  padding: 0 20px;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &.opaque > .backgroundOverlay {
    opacity: 1;
  }
}

.backgroundOverlay {
  backdrop-filter: blur(30px);
  transition: opacity .3s;
  background: rgba(#000, 90%);
  border-bottom: 1px solid rgba(#fff, 10%);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: -1;

  opacity: 0;
}

.wrapper {
  flex-grow: 1;
  max-width: 1280px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
